# Porta HTTP da aplicação
PORT=3333

# Integração ONZ
ONZ_BASE_URL=https://secureapi.bancodigital.hmg.onz.software/api/v2
ONZ_CLIENT_ID=
ONZ_CLIENT_SECRET=
ONZ_SCOPE=pix.write pix.read

# true = simula Pix para desenvolvimento local
# false = usa API real da ONZ
ONZ_MOCK=true
